@import "reset";

// MIXINS

.rounded-corners (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow(@x, @y, @blur, @color) {
  -moz-box-shadow: @x @y @blur @color;
  -webkit-box-shadow: @x @y @blur @color;
  box-shadow: @x @y @blur @color;
}

.inner-shadow(@x, @y, @blur, @color) {
  -moz-box-shadow: inset @x @y @blur @color;
  -webkit-box-shadow: inset @x @y @blur @color;
  box-shadow: inset @x @y @blur @color;
}

.box-sizing (@val) {
  -moz-box-sizing: @val; // Damn it, Mozilla.
  box-sizing: @val;
}

.transition (@property, @duration, @timingFunc: linear, @delay: 0s) {
  -moz-transition: @property @duration @timingFunc @delay;
  -webkit-transition: @property @duration @timingFunc @delay;
  transition: @property @duration @timingFunc @delay;
}

.unselectable {
  -webkit-user-select: none; /* Safari, Chrome */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  user-select: none; /* CSS3 */
}

// STYLES

::-webkit-scrollbar {
  display: none;
}

BODY {
  margin: 0;
  background-color: #E0E0E0;
}

HEADER {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 11;

  background-color: rgba(0, 0, 0, .85);
}

.title {
  float: left;
  margin-top: 10px;
  margin-left: 15px;

  font-family: "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: white;
}

.arrow {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-right: 25px;
  background-size: 30px;
  background-image: url('./assets/arrow.svg');
}

.app {
  .box-sizing(border-box);
  width: 100%;
  overflow-x: hidden;
}

.image-contain {
  .box-sizing(border-box);
  padding-right: 10px;
  width: 100%;
  position: relative;
}

.closing {
  overflow-y: hidden;
}

.dropbox-icon {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: (-175/2)px;
  width: 200px;
  height: 175px;
  background-size: 200px;
  background-image: url('./assets/dropbox.svg');
}

.garbage-icon {
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: (-175/2)px;
  width: 200px;
  height: 175px;
  background-size: 200px;
  background-image: url('./assets/garbage.svg');
}

.image {
  .box-sizing(border-box);
  .rounded-corners();
  .box-shadow(0, 3px, 0, #777777);

  position: relative;
  z-index: 10;
  padding: 10px;
  margin: 5px 5px 12px;
  float: left;
  width: 100%;

  background-color: white;

  IMG {
    .unselectable();
  }
}

.transition-all {
  .transition(all, 0.2s, ease-in-out);
}

.scroll-disabled {
  overflow: hidden;
}
